body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
      }

      /*    Nothing Noted For Container!   */
      
      /* textarea and description are together*/
      
      textarea {
        background: transparent;
        border: none;
        resize: none;
        color: #000000;
        border-left: 1px solid black;
        padding: 10px;
      }
      
      .description {
        white-space: pre-wrap;
        
        }
      

      /* Used Text-Align to Center our h1 header & p paragraph 
         To match the mockup better! */

      h1 {
        text-align: center;
      }

      p {
        text-align: center;
      }

     /*time-block and row are together*/ 
      
      .time-block {
        border-radius: 15px;
      }
      
      .row {
        border-top: 1px solid white;
      }

      /* Hour */
      
      .hour {
        background-color: #ffffff;
        color: #000000;
        border-top: 1px dashed #000000;
      }
      

      /* 
      Noted Colors Presented For All Past, Present, & Future 

      - Past Time / Grey
      - Present Time / Red
      - Future Time / Green
      
      */

      .past {
        background-color: #d3d3d3;
        color: rgb(5, 2, 2);
      }
      
      .present {
        background-color: #ff6961;
        color: rgb(2, 1, 1);
      }
      
      .future {
        background-color: #77dd77;
        color: rgb(8, 4, 4);
      }
      
      /* Save Button
      - Added Cursor Pointer
      - Removed  transition: all 0.3s ease-in-out;
      - Reason for removal, was making icon button 
        act weird, not user friendly

       */

      .saveBtn {
        border-left: 1px solid black;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #06aed5;
        color: white;
        cursor: pointer;
      }
      
      .saveBtn i:hover {
        font-size: 20px;    
}

/* 
Added reset button
*/

#resetBtn {
  margin-top: 50px;
  cursor: pointer;
}
